.pickture-group {
    display: grid;
    gap: 14px;
    grid-template-columns: repeat(auto-fill, 137px);
}

.pickture-option {
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgb(205 216 228), 0 2px 12px rgb(205 216 228 / 50%);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 12px;
}

.pickture-option :last-child {
    margin-top: auto;
}

.pickture-option.active {
    box-shadow: 0 0 0 1px rgb(133 152 173), 0 2px 12px rgb(133 152 173 / 75%);
}

input.pickture-radio-input + label {
    box-sizing: border-box;
    margin: 0 5px;
    max-width: calc(100% - 10px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
