.pickture-group {
    display: flex;
    gap: 14px;
}

.pickture-option {
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgb(205 216 228), 0 2px 12px rgb(205 216 228 / 50%);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 12px;
    width: 130px;
}

.pickture-option :last-child {
    margin-top: auto;
}

.pickture-option.active {
    box-shadow: 0 0 0 1px rgb(133 152 173), 0 2px 12px rgb(133 152 173 / 50%);
}

.pickture-label {
    padding: 0 0 12px;
}
